.home__title {
  font-family: "Permanent Marker", cursive;
  font-size: 66px;
  color: #fff;
  opacity: 0.3;
  text-shadow: 2px 2px 2px #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  letter-spacing: 6px;
}
